<div class="container">
  <h1 align=center class="gameTitle"> . . Mine Sweeper . . </h1>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-4">
      <label>Rows    :</label><input #rowsNum type="number" min="1" max="300" step="1" [(ngModel)]="gameSettings.rows">
    </div>
    <div class="col-xs-12 col-sm-4">
      <label>Columns    :</label><input #colsNum type="number" min="1" max="300" step="1" [(ngModel)]="gameSettings.cols"><br>
    </div>
    <div class="col-xs-12 col-sm-4">
      <label>Mines    :</label><input #minesNum  type="number" min="1" max="90000" step="1" [(ngModel)]="gameSettings.mines"><br>
    </div>
  </div>
  <div class="warningMessage">{{getMessage()}}</div><br>
  <button [disabled]="getMessage()!=''" (click)="startGame()" class="btn btn-warning"> Start Game </button>
</div>
<app-minesweeper [gameManager]="gameManager" #gameboard></app-minesweeper>
<h3 align=center class="copyRight">© Copyright 2017 Ronen Butirev</h3>
